# Ignore virtual environment
.venv/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter runtime
.env
.env.*

# Ignore CSV files from data folder (optional, only if data is public elsewhere)
*.csv

# VSCode workspace settings
.vscode/

# System-specific
.DS_Store
.venv/
